<%= form_for(@tine) do |f| %>
  <% if @tine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tine.errors.count, "error") %> prohibited this tine from being saved:</h2>

      <ul>
      <% @tine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%#= f.label :tiny %><br />
    <%= f.hidden_field :tiny %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
