<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @tine.url %>
</p>

<p>
  <b>Tiny:</b>
  <%= @tine.tiny %>
</p>


<%= link_to 'Edit', edit_tine_path(@tine) %> |
<%= link_to 'Back', tines_path %>
